In [51]:
import pandas as pd
import json
import pandas as pd
with open(r'C:\Melbourne_Escooter\Lime\Scheduled_downloads\7_31t16_56.json','r') as f:
    data = json.loads(f.read())

Check whether dataset includes only available devices data. 
1.The vehicle driven 16.57 to 17.01
2.Data available in 16.56 not in 16.57,16.58,16.59,17.0,17.1,17.2
3.Again record can be seen from 17.3 onwards
4.We can assume data set includes available devices data

Check ID change
1.ID get changed hourly
2.eg: 15:01 to 16:00  IDs are same
16:00 and 16:01 different
hourly new ID starts at first minute of the hour

In [52]:
df_16_56=pd.json_normalize(data, ['data', 'bikes'])

In [53]:
df_16_56_escooter=df_16_56[df_16_56['vehicle_type']=='scooter']

In [54]:
df_16_56_escooter

,bike_id,lat,lon,is_reserved,is_disabled,current_range_meters,vehicle_type_id,last_reported,pricing_plan_id,vehicle_type
0,062af51f-5740-4059-bb2e-20ee7b9a8118,-37.878515,144.997101,False,False,5816,2,1659250528,MKNXQC6T4MSMD,scooter
1,7dc2262f-b267-4475-8472-01b79f433936,-37.883660,144.996219,False,False,12955,2,1659250528,MKNXQC6T4MSMD,scooter
5,e1b4582d-628c-4ce9-9d50-6de599085062,-37.880816,144.991357,False,False,5999,2,1659250528,MKNXQC6T4MSMD,scooter
6,ddc0cee8-1863-484a-9db9-1c96b5656635,-37.890345,144.990871,False,False,5999,2,1659250528,MKNXQC6T4MSMD,scooter
8,9158b0e9-e763-427c-8f7e-3a8debd26638,-37.878620,144.990128,False,False,18326,2,1659250528,MKNXQC6T4MSMD,scooter
...,...,...,...,...,...,...,...,...,...,...
664,87f05d90-04fc-4287-aa2b-289e4b70582d,-37.831422,144.918822,False,False,4756,2,1659250530,MKNXQC6T4MSMD,scooter
666,6433bb1c-a0aa-43c3-a9f7-67935c5ff9e1,-37.781700,144.909860,False,False,13677,2,1659250530,MKNXQC6T4MSMD,scooter
667,e7f1ee7d-ac6d-4f46-a12a-39f6e801ff8b,-37.806727,144.908978,False,False,5103,2,1659250530,MKNXQC6T4MSMD,scooter
668,5e0ec29b-2922-41fd-8565-568623732d3d,-37.787943,144.905924,False,False,5999,2,1659250530,MKNXQC6T4MSMD,scooter
669,f7b31e10-d4a2-4233-96ab-011e891b57da,-37.833929,144.900919,False,False,17246,2,1659250530,MKNXQC6T4MSMD,scooter

In [55]:
df_16_56_escooter.drop(['is_reserved', 'is_disabled','vehicle_type_id','pricing_plan_id','vehicle_type'], axis=1, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [56]:
df_16_56_escooter

,bike_id,lat,lon,current_range_meters,last_reported
0,062af51f-5740-4059-bb2e-20ee7b9a8118,-37.878515,144.997101,5816,1659250528
1,7dc2262f-b267-4475-8472-01b79f433936,-37.883660,144.996219,12955,1659250528
5,e1b4582d-628c-4ce9-9d50-6de599085062,-37.880816,144.991357,5999,1659250528
6,ddc0cee8-1863-484a-9db9-1c96b5656635,-37.890345,144.990871,5999,1659250528
8,9158b0e9-e763-427c-8f7e-3a8debd26638,-37.878620,144.990128,18326,1659250528
...,...,...,...,...,...
664,87f05d90-04fc-4287-aa2b-289e4b70582d,-37.831422,144.918822,4756,1659250530
666,6433bb1c-a0aa-43c3-a9f7-67935c5ff9e1,-37.781700,144.909860,13677,1659250530
667,e7f1ee7d-ac6d-4f46-a12a-39f6e801ff8b,-37.806727,144.908978,5103,1659250530
668,5e0ec29b-2922-41fd-8565-568623732d3d,-37.787943,144.905924,5999,1659250530
669,f7b31e10-d4a2-4233-96ab-011e891b57da,-37.833929,144.900919,17246,1659250530

In [57]:
import pandas as pd
import json
import pandas as pd
with open(r'C:\Melbourne_Escooter\Lime\Scheduled_downloads\7_31t16_57.json','r') as f:
    data = json.loads(f.read())

In [58]:
df_16_57=pd.json_normalize(data, ['data', 'bikes'])

In [59]:
df_16_57_escooter=df_16_57[df_16_57['vehicle_type']=='scooter']

In [60]:
df_16_57_escooter.drop(['is_reserved', 'is_disabled','vehicle_type_id','pricing_plan_id','vehicle_type'], axis=1, inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [13]:
with open(r'C:\Melbourne_Escooter\Lime\Scheduled_downloads\7_31t16_58.json','r') as f:
    data = json.loads(f.read())

In [14]:
df_16_58=pd.json_normalize(data, ['data', 'bikes'])
df_16_58_escooter=df_16_58[df_16_58['vehicle_type']=='scooter']
df_16_58_escooter.drop(['is_reserved', 'is_disabled','vehicle_type_id','pricing_plan_id','vehicle_type'], axis=1, inplace=True)

In [15]:
with open(r'C:\Melbourne_Escooter\Lime\Scheduled_downloads\7_31t16_59.json','r') as f:
    data = json.loads(f.read())

In [16]:
df_16_59=pd.json_normalize(data, ['data', 'bikes'])
df_16_59_escooter=df_16_59[df_16_59['vehicle_type']=='scooter']
df_16_59_escooter.drop(['is_reserved', 'is_disabled','vehicle_type_id','pricing_plan_id','vehicle_type'], axis=1, inplace=True)

In [17]:
with open(r'C:\Melbourne_Escooter\Lime\Scheduled_downloads\7_31t17_0.json','r') as f:
    data = json.loads(f.read())

In [18]:
df_17_0=pd.json_normalize(data, ['data', 'bikes'])
df_17_0_escooter=df_17_0[df_17_0['vehicle_type']=='scooter']
df_17_0_escooter.drop(['is_reserved', 'is_disabled','vehicle_type_id','pricing_plan_id','vehicle_type'], axis=1, inplace=True)

In [19]:
with open(r'C:\Melbourne_Escooter\Lime\Scheduled_downloads\7_31t17_1.json','r') as f:
    data = json.loads(f.read())

In [20]:
df_17_1=pd.json_normalize(data, ['data', 'bikes'])
df_17_1_escooter=df_17_1[df_17_1['vehicle_type']=='scooter']
df_17_1_escooter.drop(['is_reserved', 'is_disabled','vehicle_type_id','pricing_plan_id','vehicle_type'], axis=1, inplace=True)

In [23]:
df_57_58 = pd.concat([df_16_57_escooter.set_index('bike_id'), df_16_58_escooter.set_index('bike_id')], axis='columns', keys=['First', 'Second'])

In [24]:
df_57_58

                                          First              \
                                            lat         lon
bike_id
1bbadf85-5882-4e7b-a306-53fbe90e9f38 -37.860408  145.010429
4058aa52-65cd-4a0e-ba54-ee297bedbb71 -37.864052  145.009860
9b99ce7d-c49d-41b0-8831-9fb397e1bfde -37.863585  145.007531
fdfe2dda-17d6-481d-a719-65e70524b21a -37.859248  145.001230
19184ebe-a860-4441-9e17-d688588fd55d -37.859233  145.001195
...                                         ...         ...
e7f1ee7d-ac6d-4f46-a12a-39f6e801ff8b -37.806727  144.908978
5e0ec29b-2922-41fd-8565-568623732d3d -37.787943  144.905924
f7b31e10-d4a2-4233-96ab-011e891b57da -37.833929  144.900919
df46b434-f548-488e-819b-d1d918210168        NaN         NaN
8e3b3af3-e895-490d-ae63-e2f56f285343        NaN         NaN

                                                                         \
                                     current_range_meters last_reported
bike_id
1bbadf85-5882-4e7b-a306-53fbe90e9f38               6936.0  1.659251e+09
4058aa52-65cd-4a0e-ba54-ee297bedbb71              15677.0  1.659251e+09
9b99ce7d-c49d-41b0-8831-9fb397e1bfde               5103.0  1.659251e+09
fdfe2dda-17d6-481d-a719-65e70524b21a              18326.0  1.659251e+09
19184ebe-a860-4441-9e17-d688588fd55d              13194.0  1.659251e+09
...                                                   ...           ...
e7f1ee7d-ac6d-4f46-a12a-39f6e801ff8b               5103.0  1.659251e+09
5e0ec29b-2922-41fd-8565-568623732d3d               5999.0  1.659251e+09
f7b31e10-d4a2-4233-96ab-011e891b57da              17246.0  1.659251e+09
df46b434-f548-488e-819b-d1d918210168                  NaN           NaN
8e3b3af3-e895-490d-ae63-e2f56f285343                  NaN           NaN

                                         Second              \
                                            lat         lon
bike_id
1bbadf85-5882-4e7b-a306-53fbe90e9f38 -37.860408  145.010429
4058aa52-65cd-4a0e-ba54-ee297bedbb71 -37.864052  145.009860
9b99ce7d-c49d-41b0-8831-9fb397e1bfde -37.863585  145.007531
fdfe2dda-17d6-481d-a719-65e70524b21a -37.859248  145.001230
19184ebe-a860-4441-9e17-d688588fd55d -37.859233  145.001195
...                                         ...         ...
e7f1ee7d-ac6d-4f46-a12a-39f6e801ff8b -37.806727  144.908978
5e0ec29b-2922-41fd-8565-568623732d3d -37.787943  144.905924
f7b31e10-d4a2-4233-96ab-011e891b57da -37.833929  144.900919
df46b434-f548-488e-819b-d1d918210168 -37.818408  144.981894
8e3b3af3-e895-490d-ae63-e2f56f285343 -37.819223  144.954120


                                     current_range_meters last_reported
bike_id
1bbadf85-5882-4e7b-a306-53fbe90e9f38               6936.0  1.659251e+09
4058aa52-65cd-4a0e-ba54-ee297bedbb71              15677.0  1.659251e+09
9b99ce7d-c49d-41b0-8831-9fb397e1bfde               5103.0  1.659251e+09
fdfe2dda-17d6-481d-a719-65e70524b21a              18326.0  1.659251e+09
19184ebe-a860-4441-9e17-d688588fd55d              13194.0  1.659251e+09
...                                                   ...           ...
e7f1ee7d-ac6d-4f46-a12a-39f6e801ff8b               5103.0  1.659251e+09
5e0ec29b-2922-41fd-8565-568623732d3d               5999.0  1.659251e+09
f7b31e10-d4a2-4233-96ab-011e891b57da              17246.0  1.659251e+09
df46b434-f548-488e-819b-d1d918210168               5816.0  1.659251e+09
8e3b3af3-e895-490d-ae63-e2f56f285343               9998.0  1.659251e+09

[385 rows x 8 columns]

In [74]:
df_59_0 = pd.concat([df_16_59_escooter.set_index('bike_id'), df_17_0_escooter.set_index('bike_id')], axis='columns', keys=['59', '0'])

In [70]:
df_57_58

                                             57              \
                                            lat         lon
bike_id
1bbadf85-5882-4e7b-a306-53fbe90e9f38 -37.860408  145.010429
4058aa52-65cd-4a0e-ba54-ee297bedbb71 -37.864052  145.009860
9b99ce7d-c49d-41b0-8831-9fb397e1bfde -37.863585  145.007531
fdfe2dda-17d6-481d-a719-65e70524b21a -37.859248  145.001230
19184ebe-a860-4441-9e17-d688588fd55d -37.859233  145.001195
...                                         ...         ...
e7f1ee7d-ac6d-4f46-a12a-39f6e801ff8b -37.806727  144.908978
5e0ec29b-2922-41fd-8565-568623732d3d -37.787943  144.905924
f7b31e10-d4a2-4233-96ab-011e891b57da -37.833929  144.900919
df46b434-f548-488e-819b-d1d918210168        NaN         NaN
8e3b3af3-e895-490d-ae63-e2f56f285343        NaN         NaN

                                                                         \
                                     current_range_meters last_reported
bike_id
1bbadf85-5882-4e7b-a306-53fbe90e9f38               6936.0  1.659251e+09
4058aa52-65cd-4a0e-ba54-ee297bedbb71              15677.0  1.659251e+09
9b99ce7d-c49d-41b0-8831-9fb397e1bfde               5103.0  1.659251e+09
fdfe2dda-17d6-481d-a719-65e70524b21a              18326.0  1.659251e+09
19184ebe-a860-4441-9e17-d688588fd55d              13194.0  1.659251e+09
...                                                   ...           ...
e7f1ee7d-ac6d-4f46-a12a-39f6e801ff8b               5103.0  1.659251e+09
5e0ec29b-2922-41fd-8565-568623732d3d               5999.0  1.659251e+09
f7b31e10-d4a2-4233-96ab-011e891b57da              17246.0  1.659251e+09
df46b434-f548-488e-819b-d1d918210168                  NaN           NaN
8e3b3af3-e895-490d-ae63-e2f56f285343                  NaN           NaN

                                             58              \
                                            lat         lon
bike_id
1bbadf85-5882-4e7b-a306-53fbe90e9f38 -37.860408  145.010429
4058aa52-65cd-4a0e-ba54-ee297bedbb71 -37.864052  145.009860
9b99ce7d-c49d-41b0-8831-9fb397e1bfde -37.863585  145.007531
fdfe2dda-17d6-481d-a719-65e70524b21a -37.859248  145.001230
19184ebe-a860-4441-9e17-d688588fd55d -37.859233  145.001195
...                                         ...         ...
e7f1ee7d-ac6d-4f46-a12a-39f6e801ff8b -37.806727  144.908978
5e0ec29b-2922-41fd-8565-568623732d3d -37.787943  144.905924
f7b31e10-d4a2-4233-96ab-011e891b57da -37.833929  144.900919
df46b434-f548-488e-819b-d1d918210168 -37.818408  144.981894
8e3b3af3-e895-490d-ae63-e2f56f285343 -37.819223  144.954120


                                     current_range_meters last_reported
bike_id
1bbadf85-5882-4e7b-a306-53fbe90e9f38               6936.0  1.659251e+09
4058aa52-65cd-4a0e-ba54-ee297bedbb71              15677.0  1.659251e+09
9b99ce7d-c49d-41b0-8831-9fb397e1bfde               5103.0  1.659251e+09
fdfe2dda-17d6-481d-a719-65e70524b21a              18326.0  1.659251e+09
19184ebe-a860-4441-9e17-d688588fd55d              13194.0  1.659251e+09
...                                                   ...           ...
e7f1ee7d-ac6d-4f46-a12a-39f6e801ff8b               5103.0  1.659251e+09
5e0ec29b-2922-41fd-8565-568623732d3d               5999.0  1.659251e+09
f7b31e10-d4a2-4233-96ab-011e891b57da              17246.0  1.659251e+09
df46b434-f548-488e-819b-d1d918210168               5816.0  1.659251e+09
8e3b3af3-e895-490d-ae63-e2f56f285343               9998.0  1.659251e+09

[385 rows x 8 columns]

In [75]:
df_59_0 .to_csv(r'C:\Melbourne_Escooter\Lime\Scheduled_downloads\Test\NEW59_0.csv')

In [79]:
df_1_2 = pd.concat([df_17_1_escooter.set_index('bike_id'), df_17_2_escooter.set_index('bike_id')], axis='columns', keys=['1', '2'])

In [80]:
df_1_2.to_csv(r'C:\Melbourne_Escooter\Lime\Scheduled_downloads\Test\NEW1_2.csv')

In [63]:
with open(r'C:\Melbourne_Escooter\Lime\Scheduled_downloads\7_31t17_2.json','r') as f:
    data = json.loads(f.read())

In [64]:
df_17_2=pd.json_normalize(data, ['data', 'bikes'])
df_17_2_escooter=df_17_2[df_17_2['vehicle_type']=='scooter']
df_17_2_escooter.drop(['is_reserved', 'is_disabled','vehicle_type_id','pricing_plan_id','vehicle_type'], axis=1, inplace=True)

In [42]:
df_1_2 = pd.concat([df_17_1_escooter.set_index('bike_id'), df_17_2_escooter.set_index('bike_id')], axis='columns', keys=['1', '2'])

In [43]:
df_1_2.to_csv(r'C:\Melbourne_Escooter\Lime\Scheduled_downloads\Test\1_2.csv')

In [65]:
with open(r'C:\Melbourne_Escooter\Lime\Scheduled_downloads\7_31t17_3.json','r') as f:
    data = json.loads(f.read())

In [66]:
df_17_3=pd.json_normalize(data, ['data', 'bikes'])
df_17_3_escooter=df_17_3[df_17_3['vehicle_type']=='scooter']
df_17_3_escooter.drop(['is_reserved', 'is_disabled','vehicle_type_id','pricing_plan_id','vehicle_type'], axis=1, inplace=True)

In [67]:
df_2_3 = pd.concat([df_17_2_escooter.set_index('bike_id'), df_17_3_escooter.set_index('bike_id')], axis='columns', keys=['2', '3'])

In [81]:
df_2_3.to_csv(r'C:\Melbourne_Escooter\Lime\Scheduled_downloads\Test\NEW2_3.csv')

PermissionError: [Errno 13] Permission denied: 'C:\\Melbourne_Escooter\\Lime\\Scheduled_downloads\\Test\\NEW2_3.csv'

In [7]:
import pandas as pd
import json
with open(r'C:\Melbourne_Escooter\Lime\Scheduled_downloads\7_31t17_4.json','r') as f:
    data = json.loads(f.read())

In [8]:
df_17_4=pd.json_normalize(data, ['data', 'bikes'])
df_17_4_escooter=df_17_4[df_17_4['vehicle_type']=='scooter']
df_17_4_escooter.drop(['is_reserved', 'is_disabled','vehicle_type_id','pricing_plan_id','vehicle_type'], axis=1, inplace=True)

In [9]:
df_17_4.to_csv(r'C:\Melbourne_Escooter\Lime\Scheduled_downloads\Test\TEST17_4.csv', index=False)