In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\Results\July\29_9hour_part1.csv')

In [25]:
stopped_list=[]
for i in range(1,16):
    if 'lat_%s' %(i+1) in df.columns:
        stopped=df[(df['lat_%s' %i].isnull()==True) & (df['lat_%s' %(i+1)].isnull()==False)]
        stopped_list.append(stopped)
#print(stopped_list)

stopped_df= pd.DataFrame()
for i in stopped_list:
        stopped_df =  stopped_df.append(i, ignore_index=True)

[                                  bike_id  lat_1  lon_1  range_1     lat_2  \
385  71ea0882-022c-48b3-9d9f-d865c728b5e5    NaN    NaN      NaN -37.79976

          lon_2  range_2  lat_3  lon_3  range_3  ...  range_12  lat_13  \
385  144.948637  10878.0    NaN    NaN      NaN  ...       NaN     NaN

     lon_13  range_13  lat_14  lon_14  range_14  lat_15  lon_15  range_15
385     NaN       NaN     NaN     NaN       NaN     NaN     NaN       NaN

[1 rows x 46 columns],                                   bike_id  lat_1  lon_1  range_1  lat_2  \
386  32514b75-b889-43fc-92df-ef29eb422786    NaN    NaN      NaN    NaN
387  a4f02463-c057-4eaf-bb29-9832fdb7b5e3    NaN    NaN      NaN    NaN
388  2fd96a31-3482-4582-bc3a-55c757798b82    NaN    NaN      NaN    NaN
389  e34c2605-3f0e-4cf7-a46b-cd031fd4ebcd    NaN    NaN      NaN    NaN

     lon_2  range_2      lat_3       lon_3  range_3  ...  range_12     lat_13  \
386    NaN      NaN -37.868224  144.989818  12955.0  ...   12717.0 -37.868224
387    NaN      NaN -37.809015  145.006643  18326.0  ...   18326.0 -37.809015
388    NaN      NaN -37.814819  144.968802  13435.0  ...   13435.0 -37.814690
389    NaN      NaN -37.806921  144.964174  13921.0  ...   13921.0 -37.806921

         lon_13  range_13     lat_14      lon_14  range_14     lat_15  \
386  144.989818   12717.0 -37.868224  144.989818   12717.0 -37.868224
387  145.006643   18326.0 -37.809015  145.006643   18326.0 -37.809015
388  144.968636   13435.0 -37.814690  144.968636   13435.0 -37.814690
389  144.964174   13921.0 -37.806921  144.964174   13921.0 -37.806921

         lon_15  range_15
386  144.989818   12717.0
387  145.006643   18326.0
388  144.968636   13435.0
389  144.964174   13921.0

[4 rows x 46 columns], Empty DataFrame
Columns: [bike_id, lat_1, lon_1, range_1, lat_2, lon_2, range_2, lat_3, lon_3, range_3, lat_4, lon_4, range_4, lat_5, lon_5, range_5, lat_6, lon_6, range_6, lat_7, lon_7, range_7, lat_8, lon_8, range_8, lat_9, lon_9, range_9, lat_10, lon_10, range_10, lat_11, lon_11, range_11, lat_12, lon_12, range_12, lat_13, lon_13, range_13, lat_14, lon_14, range_14, lat_15, lon_15, range_15]
Index: []

[0 rows x 46 columns], Empty DataFrame
Columns: [bike_id, lat_1, lon_1, range_1, lat_2, lon_2, range_2, lat_3, lon_3, range_3, lat_4, lon_4, range_4, lat_5, lon_5, range_5, lat_6, lon_6, range_6, lat_7, lon_7, range_7, lat_8, lon_8, range_8, lat_9, lon_9, range_9, lat_10, lon_10, range_10, lat_11, lon_11, range_11, lat_12, lon_12, range_12, lat_13, lon_13, range_13, lat_14, lon_14, range_14, lat_15, lon_15, range_15]
Index: []

[0 rows x 46 columns],                                   bike_id  lat_1  lon_1  range_1  lat_2  \
390  140d5b6f-3bf2-4f27-97ce-315dba3a9cd1    NaN    NaN      NaN    NaN
391  ea5c16f7-1df9-4443-b779-427d3e6cd8d6    NaN    NaN      NaN    NaN
392  a20fe78b-345f-4b05-beae-995dafe20953    NaN    NaN      NaN    NaN
393  badc7d34-4b1f-41d7-b4cf-61cfa65785a4    NaN    NaN      NaN    NaN
394  92a5338b-8d68-4b14-8f43-74948d282f2e    NaN    NaN      NaN    NaN

     lon_2  range_2  lat_3  lon_3  range_3  ...  range_12     lat_13  \
390    NaN      NaN    NaN    NaN      NaN  ...       NaN        NaN
391    NaN      NaN    NaN    NaN      NaN  ...    5103.0 -37.811516
392    NaN      NaN    NaN    NaN      NaN  ...    4756.0 -37.806593
393    NaN      NaN    NaN    NaN      NaN  ...    8318.0 -37.812245
394    NaN      NaN    NaN    NaN      NaN  ...    4756.0 -37.804979

         lon_13  range_13     lat_14      lon_14  range_14     lat_15  \
390         NaN       NaN        NaN         NaN       NaN        NaN
391  144.970557    5103.0 -37.811516  144.970557    5103.0 -37.811516
392  144.964604    4756.0 -37.806593  144.964604    4756.0 -37.806593
393  144.940035    8318.0 -37.812245  144.940035    8318.0 -37.812245
394  144.968286    4756.0 -37.804979  144.968286    4756.0 -37.804979

         lon_15  range_15
390         NaN       NaN
391  144.970557    5103.0
392  144.964604    4756.0
393  144.940035    8318.0
394  144.968286    4756.0

[5 rows x 46 columns], Empty DataFrame
Columns: [bike_id, lat_1, lon_1, range_1, lat_2, lon_2, range_2, lat_3, lon_3, range_3, lat_4, lon_4, range_4, lat_5, lon_5, range_5, lat_6, lon_6, range_6, lat_7, lon_7, range_7, lat_8, lon_8, range_8, lat_9, lon_9, range_9, lat_10, lon_10, range_10, lat_11, lon_11, range_11, lat_12, lon_12, range_12, lat_13, lon_13, range_13, lat_14, lon_14, range_14, lat_15, lon_15, range_15]
Index: []

[0 rows x 46 columns],                                   bike_id  lat_1  lon_1  range_1  lat_2  \
395  db5b367c-0fd0-4b59-ae20-c584720205b3    NaN    NaN      NaN    NaN

     lon_2  range_2  lat_3  lon_3  range_3  ...  range_12    lat_13  \
395    NaN      NaN    NaN    NaN      NaN  ...    3279.0 -37.81998

         lon_13  range_13    lat_14      lon_14  range_14    lat_15  \
395  144.968778    3279.0 -37.81998  144.968778    3279.0 -37.81998

         lon_15  range_15
395  144.968778    3279.0

[1 rows x 46 columns],                                   bike_id  lat_1  lon_1  range_1  lat_2  \
396  990ad71b-8b71-405c-a85e-a200d48ada49    NaN    NaN      NaN    NaN

     lon_2  range_2  lat_3  lon_3  range_3  ...  range_12     lat_13  \
396    NaN      NaN    NaN    NaN      NaN  ...    1937.0 -37.824762

         lon_13  range_13     lat_14      lon_14  range_14     lat_15  \
396  144.950572    1937.0 -37.824762  144.950572    1937.0 -37.824762

         lon_15  range_15
396  144.950572    1937.0

[1 rows x 46 columns],                                   bike_id  lat_1  lon_1  range_1  lat_2  \
397  9ba3b9ea-90bb-431d-8529-3c9c300fa8c1    NaN    NaN      NaN    NaN

     lon_2  range_2  lat_3  lon_3  range_3  ...  range_12  lat_13  lon_13  \
397    NaN      NaN    NaN    NaN      NaN  ...       NaN     NaN     NaN

     range_13  lat_14  lon_14  range_14     lat_15      lon_15  range_15
397       NaN     NaN     NaN       NaN -37.812987  144.962684   16454.0

[1 rows x 46 columns], Empty DataFrame
Columns: [bike_id, lat_1, lon_1, range_1, lat_2, lon_2, range_2, lat_3, lon_3, range_3, lat_4, lon_4, range_4, lat_5, lon_5, range_5, lat_6, lon_6, range_6, lat_7, lon_7, range_7, lat_8, lon_8, range_8, lat_9, lon_9, range_9, lat_10, lon_10, range_10, lat_11, lon_11, range_11, lat_12, lon_12, range_12, lat_13, lon_13, range_13, lat_14, lon_14, range_14, lat_15, lon_15, range_15]
Index: []

[0 rows x 46 columns],                                   bike_id      lat_1       lon_1  range_1  \
206  1b2c1c46-9d43-4eaa-9631-b43c2d8d6afc -37.825937  144.963211  15677.0
398  7c96631c-1e47-4180-99ac-f90421291f53        NaN         NaN      NaN
399  720bd982-58df-48fb-b2c6-fc751beda3d3        NaN         NaN      NaN

         lat_2       lon_2  range_2  lat_3  lon_3  range_3  ...  range_12  \
206 -37.825937  144.963211  15677.0    NaN    NaN      NaN  ...   15677.0
398        NaN         NaN      NaN    NaN    NaN      NaN  ...    1796.0
399        NaN         NaN      NaN    NaN    NaN      NaN  ...   17783.0

        lat_13      lon_13  range_13     lat_14      lon_14  range_14  \
206 -37.825946  144.963249   15677.0 -37.825946  144.963249   15677.0
398 -37.787309  144.993554    1796.0 -37.787309  144.993554    1796.0
399 -37.816704  144.958335   17783.0 -37.816704  144.958335   17783.0

        lat_15      lon_15  range_15
206 -37.825946  144.963249   15677.0
398 -37.787309  144.993554    1796.0
399 -37.816704  144.958335   17783.0

[3 rows x 46 columns], Empty DataFrame
Columns: [bike_id, lat_1, lon_1, range_1, lat_2, lon_2, range_2, lat_3, lon_3, range_3, lat_4, lon_4, range_4, lat_5, lon_5, range_5, lat_6, lon_6, range_6, lat_7, lon_7, range_7, lat_8, lon_8, range_8, lat_9, lon_9, range_9, lat_10, lon_10, range_10, lat_11, lon_11, range_11, lat_12, lon_12, range_12, lat_13, lon_13, range_13, lat_14, lon_14, range_14, lat_15, lon_15, range_15]
Index: []

[0 rows x 46 columns], Empty DataFrame
Columns: [bike_id, lat_1, lon_1, range_1, lat_2, lon_2, range_2, lat_3, lon_3, range_3, lat_4, lon_4, range_4, lat_5, lon_5, range_5, lat_6, lon_6, range_6, lat_7, lon_7, range_7, lat_8, lon_8, range_8, lat_9, lon_9, range_9, lat_10, lon_10, range_10, lat_11, lon_11, range_11, lat_12, lon_12, range_12, lat_13, lon_13, range_13, lat_14, lon_14, range_14, lat_15, lon_15, range_15]
Index: []

[0 rows x 46 columns],                                   bike_id  lat_1  lon_1  range_1  lat_2  \
397  9ba3b9ea-90bb-431d-8529-3c9c300fa8c1    NaN    NaN      NaN    NaN
400  900a2384-5718-4ac6-a6e3-fb7afd7edfef    NaN    NaN      NaN    NaN
401  38c695fb-63d7-433c-9937-95a391d0e168    NaN    NaN      NaN    NaN
402  f0f90dbf-dbfe-4824-b9f7-7e9ca8a7c749    NaN    NaN      NaN    NaN
403  7ab6bd3d-0e35-417c-93e7-726749f4d539    NaN    NaN      NaN    NaN
404  51713e46-c3f3-4989-81ca-abc5bcdcb634    NaN    NaN      NaN    NaN

     lon_2  range_2  lat_3  lon_3  range_3  ...  range_12  lat_13  lon_13  \
397    NaN      NaN    NaN    NaN      NaN  ...       NaN     NaN     NaN
400    NaN      NaN    NaN    NaN      NaN  ...       NaN     NaN     NaN
401    NaN      NaN    NaN    NaN      NaN  ...       NaN     NaN     NaN
402    NaN      NaN    NaN    NaN      NaN  ...       NaN     NaN     NaN
403    NaN      NaN    NaN    NaN      NaN  ...       NaN     NaN     NaN
404    NaN      NaN    NaN    NaN      NaN  ...       NaN     NaN     NaN

     range_13  lat_14  lon_14  range_14     lat_15      lon_15  range_15
397       NaN     NaN     NaN       NaN -37.812987  144.962684   16454.0
400       NaN     NaN     NaN       NaN -37.879120  144.977992   14414.0
401       NaN     NaN     NaN       NaN -37.818247  144.996248   16193.0
402       NaN     NaN     NaN       NaN -37.812759  144.960262   12955.0
403       NaN     NaN     NaN       NaN -37.819857  144.951788   10215.0
404       NaN     NaN     NaN       NaN -37.800183  144.951504   18600.0

[6 rows x 46 columns]]

create list of data frames containing stopped locations.Create a DF of that list

In [26]:
stopped_df

,bike_id,lat_1,lon_1,range_1,lat_2,lon_2,range_2,lat_3,lon_3,range_3,...,range_12,lat_13,lon_13,range_13,lat_14,lon_14,range_14,lat_15,lon_15,range_15
0,71ea0882-022c-48b3-9d9f-d865c728b5e5,NaN,NaN,NaN,-37.799760,144.948637,10878.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,32514b75-b889-43fc-92df-ef29eb422786,NaN,NaN,NaN,NaN,NaN,NaN,-37.868224,144.989818,12955.0,...,12717.0,-37.868224,144.989818,12717.0,-37.868224,144.989818,12717.0,-37.868224,144.989818,12717.0
2,a4f02463-c057-4eaf-bb29-9832fdb7b5e3,NaN,NaN,NaN,NaN,NaN,NaN,-37.809015,145.006643,18326.0,...,18326.0,-37.809015,145.006643,18326.0,-37.809015,145.006643,18326.0,-37.809015,145.006643,18326.0
3,2fd96a31-3482-4582-bc3a-55c757798b82,NaN,NaN,NaN,NaN,NaN,NaN,-37.814819,144.968802,13435.0,...,13435.0,-37.814690,144.968636,13435.0,-37.814690,144.968636,13435.0,-37.814690,144.968636,13435.0
4,e34c2605-3f0e-4cf7-a46b-cd031fd4ebcd,NaN,NaN,NaN,NaN,NaN,NaN,-37.806921,144.964174,13921.0,...,13921.0,-37.806921,144.964174,13921.0,-37.806921,144.964174,13921.0,-37.806921,144.964174,13921.0
5,140d5b6f-3bf2-4f27-97ce-315dba3a9cd1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,ea5c16f7-1df9-4443-b779-427d3e6cd8d6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5103.0,-37.811516,144.970557,5103.0,-37.811516,144.970557,5103.0,-37.811516,144.970557,5103.0
7,a20fe78b-345f-4b05-beae-995dafe20953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4756.0,-37.806593,144.964604,4756.0,-37.806593,144.964604,4756.0,-37.806593,144.964604,4756.0
8,badc7d34-4b1f-41d7-b4cf-61cfa65785a4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8318.0,-37.812245,144.940035,8318.0,-37.812245,144.940035,8318.0,-37.812245,144.940035,8318.0
9,92a5338b-8d68-4b14-8f43-74948d282f2e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4756.0,-37.804979,144.968286,4756.0,-37.804979,144.968286,4756.0,-37.804979,144.968286,4756.0
10,db5b367c-0fd0-4b59-ae20-c584720205b3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3279.0,-37.819980,144.968778,3279.0,-37.819980,144.968778,3279.0,-37.819980,144.968778,3279.0
11,990ad71b-8b71-405c-a85e-a200d48ada49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1937.0,-37.824762,144.950572,1937.0,-37.824762,144.950572,1937.0,-37.824762,144.950572,1937.0
12,9ba3b9ea-90bb-431d-8529-3c9c300fa8c1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.812987,144.962684,16454.0
13,1b2c1c46-9d43-4eaa-9631-b43c2d8d6afc,-37.825937,144.963211,15677.0,-37.825937,144.963211,15677.0,NaN,NaN,NaN,...,15677.0,-37.825946,144.963249,15677.0,-37.825946,144.963249,15677.0,-37.825946,144.963249,15677.0
14,7c96631c-1e47-4180-99ac-f90421291f53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1796.0,-37.787309,144.993554,1796.0,-37.787309,144.993554,1796.0,-37.787309,144.993554,1796.0
15,720bd982-58df-48fb-b2c6-fc751beda3d3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17783.0,-37.816704,144.958335,17783.0,-37.816704,144.958335,17783.0,-37.816704,144.958335,17783.0
16,9ba3b9ea-90bb-431d-8529-3c9c300fa8c1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.812987,144.962684,16454.0
17,900a2384-5718-4ac6-a6e3-fb7afd7edfef,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.879120,144.977992,14414.0
18,38c695fb-63d7-433c-9937-95a391d0e168,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.818247,144.996248,16193.0
19,f0f90dbf-dbfe-4824-b9f7-7e9ca8a7c749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.812759,144.960262,12955.0
20,7ab6bd3d-0e35-417c-93e7-726749f4d539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.819857,144.951788,10215.0
21,51713e46-c3f3-4989-81ca-abc5bcdcb634,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.800183,144.951504,18600.0