In [39]:
import pandas as pd
import numpy as np
df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\Results\July\Started\Filtered_starts\WithDateTime\test\29_9hour_part1_dateAdded.csv')

In [27]:
df

,bike_id,lat_1,lon_1,range_1,date:time_1,lat_2,lon_2,range_2,date:time_2,lat_3,...,range_12,date:time_12,lat_13,lon_13,range_13,date:time_13,lat_14,lon_14,range_14,date:time_14
0,fed4898c-79c9-4f14-bb40-d25583462eaf,-37.79976,144.948637,10878.0,29:9:1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1b2c1c46-9d43-4eaa-9631-b43c2d8d6afc,NaN,NaN,NaN,NaN,-37.825937,144.963211,15677.0,29:9:2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,71ea0882-022c-48b3-9d9f-d865c728b5e5,NaN,NaN,NaN,NaN,-37.799760,144.948637,10878.0,29:9:2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,e8588e47-6d31-47e5-bc04-13fba9bc16e7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,30746f1c-bfb9-4a70-a60c-7351eba02fdf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,d8023f62-4977-49ec-892c-ec56172eff92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,d242a701-d0ce-4387-8dcd-53b82d420a48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,03fe767c-7b5c-4f7f-8332-475e33e51d0c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,140d5b6f-3bf2-4f27-97ce-315dba3a9cd1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,27555c3a-bfa1-4fc3-b5f2-7d30dbd07ab4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,9ba3b9ea-90bb-431d-8529-3c9c300fa8c1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,4bb54e19-4c26-4d7c-9b04-19ae66f4e7a4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,04832e43-b5ea-43b8-b197-25063e939e95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-37.806729,144.987762,5999.0,29:9:13,NaN,NaN,NaN,NaN
13,5a391f63-2dc3-4a2a-84a9-63a7ac29bb6c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-37.811613,145.011,10215.0,29:9:14

In [29]:
df.drop_duplicates(inplace=True)

In [40]:
col_set=df.columns[1:]
#take column names except the first column
df_new = df.dropna(how='all', subset=col_set)

In [31]:
df_new

,bike_id,lat_1,lon_1,range_1,date:time_1,lat_2,lon_2,range_2,date:time_2,lat_3,...,range_12,date:time_12,lat_13,lon_13,range_13,date:time_13,lat_14,lon_14,range_14,date:time_14
0,fed4898c-79c9-4f14-bb40-d25583462eaf,-37.79976,144.948637,10878.0,29:9:1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1b2c1c46-9d43-4eaa-9631-b43c2d8d6afc,NaN,NaN,NaN,NaN,-37.825937,144.963211,15677.0,29:9:2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,71ea0882-022c-48b3-9d9f-d865c728b5e5,NaN,NaN,NaN,NaN,-37.799760,144.948637,10878.0,29:9:2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,e8588e47-6d31-47e5-bc04-13fba9bc16e7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,30746f1c-bfb9-4a70-a60c-7351eba02fdf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,d8023f62-4977-49ec-892c-ec56172eff92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,d242a701-d0ce-4387-8dcd-53b82d420a48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,03fe767c-7b5c-4f7f-8332-475e33e51d0c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,140d5b6f-3bf2-4f27-97ce-315dba3a9cd1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,27555c3a-bfa1-4fc3-b5f2-7d30dbd07ab4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,9ba3b9ea-90bb-431d-8529-3c9c300fa8c1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,4bb54e19-4c26-4d7c-9b04-19ae66f4e7a4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,04832e43-b5ea-43b8-b197-25063e939e95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-37.806729,144.987762,5999.0,29:9:13,NaN,NaN,NaN,NaN
13,5a391f63-2dc3-4a2a-84a9-63a7ac29bb6c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-37.811613,145.011,10215.0,29:9:14

In [32]:
df_id=df_new.filter(like='bike_')

In [33]:
df_id

                                 bike_id
0   fed4898c-79c9-4f14-bb40-d25583462eaf
1   1b2c1c46-9d43-4eaa-9631-b43c2d8d6afc
2   71ea0882-022c-48b3-9d9f-d865c728b5e5
3   e8588e47-6d31-47e5-bc04-13fba9bc16e7
4   30746f1c-bfb9-4a70-a60c-7351eba02fdf
5   d8023f62-4977-49ec-892c-ec56172eff92
6   d242a701-d0ce-4387-8dcd-53b82d420a48
7   03fe767c-7b5c-4f7f-8332-475e33e51d0c
8   140d5b6f-3bf2-4f27-97ce-315dba3a9cd1
9   27555c3a-bfa1-4fc3-b5f2-7d30dbd07ab4
10  9ba3b9ea-90bb-431d-8529-3c9c300fa8c1
11  4bb54e19-4c26-4d7c-9b04-19ae66f4e7a4
12  04832e43-b5ea-43b8-b197-25063e939e95
13  5a391f63-2dc3-4a2a-84a9-63a7ac29bb6c

In [54]:
df_lat=df_new.filter(like='lat')

In [55]:
df_lat

,lat_1,lat_2,lat_3,lat_4,lat_5,lat_6,lat_7,lat_8,lat_9,lat_10,lat_11,lat_12,lat_13,lat_14
0,-37.79976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,-37.825937,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,-37.799760,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,-37.827132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,-37.782026,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,-37.823479,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.824320,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.841338,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.813725,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.814356,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.814356,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.834267,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.806729,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.811613

In [56]:
df_lat.columns = df_lat.columns.str.replace('lat_.*', 'latitude')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [57]:
s = df_lat.stack()

In [58]:
s

0   latitude   -37.799760
1   latitude   -37.825937
2   latitude   -37.799760
3   latitude   -37.827132
4   latitude   -37.782026
5   latitude   -37.823479
6   latitude   -37.824320
7   latitude   -37.841338
8   latitude   -37.813725
9   latitude   -37.814356
10  latitude   -37.814356
11  latitude   -37.834267
12  latitude   -37.806729
13  latitude   -37.811613
dtype: float64

In [59]:
df_lat_new = s.unstack()

In [60]:
df_lat_new

     latitude
0  -37.799760
1  -37.825937
2  -37.799760
3  -37.827132
4  -37.782026
5  -37.823479
6  -37.824320
7  -37.841338
8  -37.813725
9  -37.814356
10 -37.814356
11 -37.834267
12 -37.806729
13 -37.811613

In [9]:
df_lon=df_new.filter(like='lon')

In [10]:
df_lon.columns = df_lon.columns.str.replace('lon_.', 'longitude')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [11]:
s = df_lon.stack()

In [12]:
df_lon_new = s.unstack()

In [13]:
df_range=df_new.filter(like='range')

In [14]:
df_range.columns = df_range.columns.str.replace('range_.', 'range')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [15]:
s = df_range.stack()

In [16]:
df_range_new = s.unstack()

In [17]:
df_datetime=df_new.filter(like='date:time')

In [19]:
df_datetime.columns = df_datetime.columns.str.replace('date:time_.', 'datetime')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  """Entry point for launching an IPython kernel.

In [20]:
s = df_datetime.stack()

In [21]:
df_datetime_new = s.unstack()

In [22]:
df_all = pd.concat([df_id,df_lat_new,df_lon_new,df_range_new,df_datetime_new],axis=1,sort=False)

In [23]:
df_all

,bike_id,latitude,longitude,range,datetime
0,fed4898c-79c9-4f14-bb40-d25583462eaf,-37.799760,144.948637,10878.0,29:09:01
1,1b2c1c46-9d43-4eaa-9631-b43c2d8d6afc,-37.825937,144.963211,15677.0,29:09:02
2,71ea0882-022c-48b3-9d9f-d865c728b5e5,-37.799760,144.948637,10878.0,29:09:02

In [78]:
def GetTripStartRecords(day):
    for hour in range(0,24):
        for fileID in range(1,5):
            try:
                df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\Results\July\Started\Filtered_starts\WithDateTime\test\{}_{}hour_part{}_dateAdded.csv'.format(day,hour,fileID))
            except FileNotFoundError:
                continue
            df.drop_duplicates(inplace=True)
            col_set=df.columns[1:]
            #take column names except the first column
            df_new = df.dropna(how='all', subset=col_set)
            df_id=df_new.filter(like='bike_')
            try:
                df_lat=df_new.filter(like='lat')
                df_lat.columns = df_lat.columns.str.replace('lat_.*', 'latitude')
                s = df_lat.stack()
                df_lat_new = s.unstack()
                df_lon=df_new.filter(like='lon')
                df_lon.columns = df_lon.columns.str.replace('lon_.*', 'longitude')
                s = df_lon.stack()
                df_lon_new = s.unstack()
                df_range=df_new.filter(like='range')
                df_range.columns = df_range.columns.str.replace('range_.*', 'range')
                s = df_range.stack()
                df_range_new = s.unstack()
                df_datetime=df_new.filter(like='date:time')
                df_datetime.columns = df_datetime.columns.str.replace('date:time_.*', 'datetime')
                s = df_datetime.stack()
                df_datetime_new = s.unstack()
            except ValueError:
                print("Value Error->"+str(day)+"_"+str(hour)+"part"+str(fileID))
                continue
            df_all = pd.concat([df_id,df_lat_new,df_lon_new,df_range_new,df_datetime_new],axis=1,sort=False)
            df_all.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\July\{}_{}hour_part{}_final.csv'.format(day,hour,fileID),index=False)

In [79]:
GetTripStartRecords(29)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: The default value of regex will change from True to False in a future version.
  from ipykernel import kernelapp as app
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:19: FutureWarning: The default value of regex will change from True to False in a future version.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:23: FutureWarning: The default value of regex will change from True to False in a future version.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: FutureWarning: The default value of regex will change from True to False in a future version.

Value Error->29_10part3
Value Error->29_10part4
Value Error->29_11part4
Value Error->29_12part4