In [3]:
import pandas as pd

In [10]:
df1=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\August\Started\Hourly\hourlyTripCount_Aug 01 2022.csv')
df1.columns = ["hour", "count_1"]
df1.set_index('hour',inplace=True)

In [11]:
df2=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\August\Started\Hourly\hourlyTripCount_Aug 02 2022.csv')
df2.columns = ["hour", "count_2"]
df2.set_index('hour',inplace=True)

In [12]:
df3=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\August\Started\Hourly\hourlyTripCount_Aug 03 2022.csv')
df3.columns = ["hour", "count_3"]
df3.set_index('hour',inplace=True)

In [13]:
df_month = pd.concat([df1,df2,df3], axis=1).reset_index()

In [14]:
df_month

    hour  count_1  count_2  count_3
0      0      420       22     41.0
1      1       25       30     22.0
2      2       18       12     10.0
3      3       13       10      9.0
4      4       13        8      3.0
5      5       19       18      NaN
6      6       18       24      NaN
7      7       20       27      NaN
8      8       35       40      NaN
9      9       43       45     58.0
10    10       26       49     30.0
11    11       27       62     42.0
12    12       38      498     66.0
13    13       67       72     78.0
14    14       56      533    110.0
15    15       85      114    105.0
16    16       81      125    120.0
17    17       85      100    165.0
18    18       58       78    149.0
19    19       55       67    138.0
20    20       42       48     93.0
21    21       59       75     98.0
22    22       67       71    464.0
23    23       31       48     95.0

In [6]:
def dailyStartGraph():
    df_list=[]
    for fileID in range (1,8):
        df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\August\Started\Hourly\hourlyTripCount_Aug 0{} 2022.csv'.format(fileID))
        df.columns = ["hour", "count"]
        df.set_index('hour',inplace=True)
        df_list.append(df)
    df_month = pd.concat(df_list, axis=1).reset_index()
    df_month.columns= ["hour", "1/08","2/08","3/08","4/08","5/08","6/08","7/08"]
    df_month.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\August\Started\PerDay\1week.csv'.format(fileID),index=False)

In [7]:
dailyStartGraph()

In [8]:
def dailyStopGraph():
    df_list=[]
    for fileID in range (1,4):
        df=pd.read_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\August\Stopped\Hourly\hourlyTripCount_Aug 0{} 2022.csv'.format(fileID))
        df.columns = ["hour", "count"]
        df.set_index('hour',inplace=True)
        df_list.append(df)
    df_month = pd.concat(df_list, axis=1).reset_index()
    df_month.columns= ["hour", "1/08","2/08","3/08"]
    df_month.to_csv(r'C:\Melbourne_Escooter\RealDataset\FinalResults\August\Stopped\PerDay\1.csv'.format(fileID),index=False)

In [9]:
dailyStopGraph()